<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Effects</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']" >Inicio</a>
            </li>
            <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/usuario/1']">Usuario</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <input #txtInput class="form-control mr-sm-2" type="search" placeholder="ID Usuario" aria-label="Search" (keyup.enter)="verUsuario(txtInput.value)">
            <button (click)="verUsuario(txtInput.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>

    </div>
</nav>